.icon {
  font-size: 1rem;
}

.ti {
  font-size: 4rem;
}

.call-to-action {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/work.jpg');
  background-position: center;
}

@media (max-width: 767px) {
  .feature46 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('/images/feature.jpg') !important;
    background-position: center;
  }

  .subtitle {
    color: #c2c6d0;

  }

  .title-feature {
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 986px) {
  .feature46 {
    background-position: top right -25em;
  }
}

@media (min-width: 987px) and (max-width: 1024px) {
  .feature46 {
    background-position: top right -20em;
  }
}